*, *::before, *::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    width: 100%;
}

body {
    margin: 0;
}

.container {
    display: flex;
    max-width: 1128px;
    margin: 0 auto;
    width: 100%;
}

.item{
    margin: 0;
}

.title-section {
    padding: 12em 0;
    background: #F3EED9;
    min-height: 660px;
}

.title-content {
    flex-direction: column;
    align-items: center;
}

.main-title {    
    color: #824936;
    font-family: 'Playfair Display', serif;    font-size: 60px;
    display: flex;
    flex-direction: column;
}

.main-title span {
    text-align: center;
}

.secondary-title {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .4em;
}

.design-section {
    padding: 5em 0;    
    background: #fff;
}

.design-content {
    flex-direction: column;
    align-items: center;
}

.design-text {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}

.design-header {
    font-family: 'Playfair Display', serif;    
    font-size: 36px;
    color: #824936;
}

.design-para-1 {
    width: 45%;
}

.design-para-2 {
    width: 45%;
}

.first-photo-section {
    padding: 6em 0;
    background: #222C2A;
}

.first-photo-content {
    align-items: center;
    justify-content: space-between;
}

.first-photo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 21px;
    align-self: flex-start;
    width: 48%;
}

.first-photo-header {
    font-family: 'Playfair Display', serif;    
    margin-top: 0.3em;
    color: #F3EED9;
    font-size: 1.5em;
}

.first-photo {
    width: 45%;
}

.first-photo-para {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 1em;
}

/* Second Photo Section */

.second-photo-section {
    padding: 6.5em 0;
    background: #824936;
}

.second-photo-content {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.second-photo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 21px;
    align-self: flex-start;
    width: 45%;
}

.second-photo-header {
    font-family: 'Playfair Display', serif;    
    margin-top: 0.3em;
    color: #F3EED9;
    font-size: 1.5em;
}

.second-photo {
    width: 45%;
}

.second-photo-para {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 1em;
}