*, *::before,*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #fff;
}

h1,h2,h3,h4 {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    font-size: 1.7rem;
    padding: 0;
}

.light-header {
    color:#fff;
}

.dark-header {
    color: #A59678;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 3em;
}

.col {
    text-align: center;
}

.section_one-content, .hero-content, .footer-content {
    max-width: none;
}
/* 

font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;

*/

/* Nav */

.main-nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav_list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.list_item {
}

.nav_link {
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.nav_container {
    display: flex;
}

header {
    background: #2E323F;
    padding: .5em 0;
}

.nav_list-primary {
    margin-left: auto;
}

.nav_list-secondary {
    margin-left: 1em;
}

li + li {
    margin-left: 1em;
}

.sign-up-btn {
    background: #A59678;
    border-radius: 10em;
    padding: .15em .5em;
}

/* End of nav/header */

/* hero */

.hero {
    background: #3B4050;
    padding: .5em 0em 2em 0em;
}

.hero-title {
    font-size: 3rem;
    margin: 0;
}

span {
    color: #A59678;
}

.hero-btn {
    text-transform: uppercase;
    background: #A59678;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    padding: .12em 1em;
    border-radius: 10rem;
    font-size: 1.4rem;
}

.hero-content {
    font-size: 1.1rem;
}

p {
    max-width: 500px;
}

/* end of hero */

/* Section one */

.section_one {
    padding: 2em 0em;
    background: #e7e1d3;
}

.section_one-content {
    color: #2E323F;
    padding: 0em 4em;
}
/* End of section one */

/* Section Two */

.section_two {
    padding: 2em 0em;
}

.section_two-content {
    color: #2E323F;
}

.card:first-child {
    margin-top: 3em;
}
.card {
    background: #3B4050;
    text-align: center;
    padding: 2em 2em;
}

.card + .card {
    margin-top: 1em;
}

/* End of section two */

/*  Footer */

footer {
    background: #3B4050;
    text-align: center;
    padding-bottom: 1.25em;
}

.footer-main-header {
    font-size: 2.25rem;
    padding: 1em 0;
}

.footer-header {
    font-size: 1.5rem;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
}

.footer-link + .footer-link {
    margin-left: .5em;
}

/* End of footer */
